

    <%-include("../header");%>

    <br />
    <br />
    <form action="about/save" method="post" class="m-5">

        dish_title<input type="text" name="dish_title" ><br>
        dish_sub_title<input type="text" name="dish_sub_title" ><br>
        description<input type="text" name="description" ><br>
        price<input type="text" name="price" ><br>
        image<input type="text" name="image" ><br>
    
       
     <button class="btn btn-success" type="submit" >Add</button>
    </form>
    
    
    
    
    <%-include("../footer");%>




