<html>
<head>
    <style>
        body {
            background-color:  green;
        }
    </style>
</head>

<body>
    <h1>Home Page</h1>
    <h2><%= a %></h2>
    <h3><%= b %></h3>
    <h1><%= c %></h1>
</body>

</html>