<!DOCTYPE html>
<html>

<head>
    <title>The Venue</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/styles/bootstrap-4.1.2/bootstrap.min.css">
    <link href="/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/plugins/OwlCarousel2-2.2.1/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="/plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
    <link rel="stylesheet" type="text/css" href="/plugins/OwlCarousel2-2.2.1/animate.css">
    <link href="/plugins/colorbox/colorbox.css" rel="stylesheet" type="text/css">
    <link href="/plugins/jquery-datepicker/jquery-ui.css" rel="stylesheet" type="text/css">
    <link href="/plugins/jquery-timepicker/jquery.timepicker.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/styles/main_styles.css">
    <link rel="stylesheet" type="text/css" href="/styles/responsive.css">
</head>

<body>

    <div class="super_container">
        <header class="header">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="header_content d-flex flex-row align-items-center justify-content-start">
                            <div class="logo">
                                <a href="#">
                                    <div>The Stepping Stone</div>
                                    <div>Job Oriented Training</div>
                                </a>
                            </div>
                            <nav class="main_nav">
                                <ul class="d-flex flex-row align-items-center justify-content-start">
                                    <li><a href="/">home</a></li>
                                    <li><a href="/about">about us</a></li>
                                    <li><a href="/contact">contact</a></li>
                                    <li><a href="/help">help</a></li>
                                    <li><a href="/employee">employee</a></li>
                                </ul>
                            </nav>
                            <div class="reservations_phone ml-auto">Reservations: +34 586 778 8892</div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="hamburger_bar trans_400 d-flex flex-row align-items-center justify-content-start">
            <div class="hamburger">
                <div class="menu_toggle d-flex flex-row align-items-center justify-content-start">
                    <span>menu</span>
                    <div class="hamburger_container">
                        <div class="menu_hamburger">
                            <div class="line_1 hamburger_lines" style="transform: matrix(1, 0, 0, 1, 0, 0);"></div>
                            <div class="line_2 hamburger_lines" style="visibility: inherit; opacity: 1;"></div>
                            <div class="line_3 hamburger_lines" style="transform: matrix(1, 0, 0, 1, 0, 0);"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="menu trans_800">
            <div class="menu_content d-flex flex-column align-items-center justify-content-center text-center">
                <ul>
                    <li><a href="/">home</a></li>
                    <li><a href="/about">about us</a></li>
                    <li><a href="/contact">contact</a></li>
                    <li><a href="/help">help</a></li>
                </ul>
            </div>
            <div class="menu_reservations_phone ml-auto">Reservations: +34 586 778 8892</div>
        </div>
        <div class="home">
            <div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="images/home.jpg"
                data-speed="0.8"></div>
            <div class="home_container">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="home_content text-center">
                                <div class="home_subtitle page_subtitle">The Venue is</div>
                                <div class="home_title">
                                    <h1>An Extraordinery Experience</h1>
                                </div>
                                <div class="home_text ml-auto mr-auto">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem
                                        maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien.
                                        Suspendisse cursus faucibus finibus.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="scroll_icon"></div>
        </div>