<html>
    <head>
        <link type="text/css" rel="stylesheet" href="layout1.css" />
    </head>
    <body>
        <div class="header">
            <div class="wrapper">
                <div class="logo">
                    <h1>My Logo</h1>
                    <p>Lorem ipsum dolor sit amet</p>
                </div>
            </div>
        </div>
        <div class="navbar">
            <div class="wrapper">
                <ul>
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                    <li>
                        <a href="#">Help</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">
            <div class="wrapper">
                
            </div>
        </div>
        <div class="info">
            <div class="wrapper"></div>
        </div>
        <div class="footer">
            <div class="wrapper">
                

            </div>
        </div>
    </body>
</html>