<%- include('../header'); %>
<div class="container my-5">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <h1>Employee Page</h1>
                    <button class="btn btn-primary" data-toggle="modal" data-target="#addModal">Add Employee</button>
                    <br />
                    <br />
                    <table class="table table-dark table-hover table-bordered">
                        <tr>
                            <th>S.No.</th>
                            <th>Full Name</th>
                            <th>Contact</th>
                            <th>Detail</th>
                            


                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="addModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- 
                action ---- the action is a route/url where we
                        submit our form.

                method ----- the method is type of data transmit (get and post)
                
             -->
            <form action="/employee/save" method="post">
            <div class="modal-header">
                <h4>Add New Employee</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Full Name</label>
                    <input name="full_name" type="text" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input type="text" name="email" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Address</label>
                    <textarea class="form-control" name="address" ></textarea>
                </div>
                <div class="form-group">
                    <label>City</label>
                    <select class="form-control" name="city">
                        <option>Select</option>
                        <option>Indore</option>
                        <option>Mumbai</option>
                        <option>Pune</option>
                        <option>Bhopal</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Gender</label>
                    <Br />
                    Male <input type="radio" value="male" name="gender" />
                    Female <input type="radio" value="female" name="gender"/>
                </div>
                <div class="form-group">
                    <label>Contact</label>
                    <input type="text" class="form-control" name="contact" />
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" type="button" data-dismiss="modal">Close</button>
                <button class="btn btn-success" type="submit">Add</button>
            </div>
            </form>
        </div>
    </div>
</div>


<%- include('../footer'); %>

<!-- 

    

    var arr = ['red', 'green', 'blue', 'yellow'];

    arr.forEach(function(x, n){

    })




 -->