<html>
    <head>

    </head>
    <body>
        <form action="/student/save" method="post">
            <br />
            <br />
            First Name : <input type="text" name="first_name" />
            <br />
            <br />
            Last Name : <input type="text" name="last_name" />
            <br />
            <br />
            Age : <input type="text" name="age" />
            <Br />
            <Br />
            City : <select name="city">
                <option>Select</option>
                <option>Indore</option>
                <option>Bhopal</option>
                <option>Mumbai</option>
            </select>
            <Br />
            <br />
            <input type="submit" value="Add" />
        </form>
    </body>
</html>