<div class="container mt-2" style="min-height: 750px;">
    <h1>Contact Page</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus aliquam dolores ullam doloribus eum maiores
        aperiam deserunt adipisci quam, eaque pariatur consequuntur beatae consectetur velit rerum! Deserunt dolores
        cupiditate accusantium. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus consequatur magni ipsum dicta odio quis explicabo odit accusantium. Sapiente praesentium tempora blanditiis iste a ea, officiis voluptatem consectetur fugit esse?</p>


    <div [ngSwitch]="a">
        <h1 *ngSwitchCase="'red'">Indore</h1>
        <h1 *ngSwitchCase="'blue'">Ujjain</h1>
        <h1 *ngSwitchCase="'green'">Mumbai</h1>
        <h1 *ngSwitchCase="'yellow'">Pune</h1>
        <h1 *ngSwitchDefault>No City Found</h1>
    </div>
</div>