.box1{
    height: 200px;
    width: 200px;
    background-color: #124578;
}
.box2{
    height: 200px;
    width: 200px;
    background-color: #ACE012;
}

.b{
    
    background-color: #124578;
}
.y{
    
    background-color: #ACE012;
}